.project{
    margin: 30px 0px 0px 160px;
        width: 956px;
}
.project hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.project h2 {
    color: #138781;
    font-weight: 300px;
}
#ads{
    margin:30px 0px 30px 0px;
}
#ads .card-notify-badge{
    position:absolute;
    left:-10px;
    top:-20px;
    background: #f29f67;
    border-radius:30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:14px;
}
.project .card img{ 
    height:200px;
    width:283px;
}
.card-detail-badge{
background-color: #e0b50f;
text-align: center;
border-radius: 30px 30px 30px 30px;
color:black;
padding: 5px 10px ;
font-size:13px;
}
.card-image-overly{
    font-size: 20px;
}
.card-image-overly span{
    display:inline-block;
    margin-left:5px;
}
.project .card:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow:12px 15px 20px 0px rgba(46,61,73,0.15);
    transition:all 1s ease;
}
.ad-btn{
    text-transform: uppercase; 
    width:150px;
    height:40px;
    background-color: #138781;
    display:block;
    text-align: center;
    color:white;
    border-radius: 80px;
    font-size:16px;
    line-height:35px;
    text-decoration: none;
    margin:20px auto 20px auto;
    overflow: hidden;
    position:relative;
}
.ad-btn:hover{
    background-color: white;
    color:#138781;
    background: transparent;
    border:2px solid #138781;
    transition:all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

@media(max-width:600px) {
    .project{
        padding: 0;
        margin: 0;
        border: 1px solid red;
        width: 367px;
        margin-top: 20px;
    }
        .project hr {
            width: 300px;
        }

    #ads .card{
        margin-bottom:40px;
    }
}












